<h1>
<marquee behavior="scroll" direction="left"><img src="https://public.3.basecamp.com/p/iahgNshn1oKq98sWGf1q89Vo/uploads/511042491/download/CodeNow%20Logo.png" width="400" height="88" alt="Swimming fish" /></marquee>
 Workshop Todo List
</h1>

<ul class="card">
<% @todos.each do |todo| %>
  <li>
    <input type="checkbox" name=""/>
    <a href="show/<%= todo.id %>"><%= todo.description %></a>
    <span class="pomodoro-estimate small-pomodoro-estimate"><%= todo.pomodoro_estimate %></span>
  </li>
<% end %>
</ul>

<div id="new-todo-block">
<a href="/todo/new" class="button add-new-todo-button" id="add-new-todo-button">Add a todo</a>
</div>













<div class="button">call button ! </div>
<br>

<a href="tel:3194235973"><img src="http://moziru.com/images/telephone-clipart-purple-14.png" width ="100"></a> 


<link async href="http://fonts.googleapis.com/css?family=Warnes" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>

