<h1>
<marquee behavior="scroll" direction="left"><img src="https://public.3.basecamp.com/p/iahgNshn1oKq98sWGf1q89Vo/uploads/511042491/download/CodeNow%20Logo.png" width="400" height="88" alt="Swimming fish" /></marquee>



 
  Workshop Todo List
</h1>

<ul class="card">
  <li>
    <input type="checkbox" name=""/>
    <a href="show.html">Make the curriculum</a>
    <span class="pomodoro-estimate">4 Pomodoros</span>
  </li>
  <li>
    <input type="checkbox" name=""/>
    Buy workshop supplies
    <span class="pomodoro-estimate">3 Pomodoros</span>
  </li>
  <li>
    <input type="checkbox" name=""/>
    Meet with the volunteer trainers
    <span class="pomodoro-estimate">2 Pomodoros</span>
  </li>
  <li>
    <input type="checkbox" name=""/>
    Order food for Saturday and Sunday
    <span class="pomodoro-estimate">1 Pomodoro</span>
  </li>
  <li>
    <input type="checkbox" name=""/>
    Check pre-work assignments
    <span class="pomodoro-estimate">2 Pomodoros</span>
  </li>
  <li>
    <input type="checkbox" name=""/>
    Send workshop location to all the students
    <span class="pomodoro-estimate">1 Pomodoro</span>
  </li>
  <li>
    <input type="checkbox" name=""/>
    Have a great workshop
    <span class="pomodoro-estimate">0 Pomodoros</span>
  </li>
</ul>

<div id="new-todo-block">
  <input class="text-input" id="new-todo-description" type="text" placeholder="Add a new todo...">
  <input class="text-input" id="new-pomodoro-estimate" type="number" placeholder="Pomodoro estimate...">
  <input class="button" id="add-new-todo-button" type="submit" value="Add todo">
</div>
<a href="tel:3194235973"><img src="https://image.flaticon.com/icons/png/512/9/9243.png" width ="100"></a> 

<div class="button">Call now!</div>
<link async href="http://fonts.googleapis.com/css?family=Warnes" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
